<!doctype html>
<html>
    <body>
        {% if hora < 12 %}  # hora es un parámetro que recibe el template
            <h1> Buenos días {{datos.nombre}} </h1> #datos.nombre también es un parámetro que recibe el template
        {% elif hora < 21 %}
            <h1> Buenas tardes {{datos.nombre}}</h1>
            {% else %}
            <h1> Buenas noches </h1>
        {% endif %}
        <h2> Recibirás las notificaciones en el correo {{ datos.email }} </h2> #datos.email es un parámetro que recibe el template
    </body>
</html>
